

{%  extends 'estate_base/base.html' %}

{% block content %}

{% load static %}

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">Email Reset Successful</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->



        <div class="register-area" style="background-color: rgb(249, 249, 249);">
            <div class="container">

                <div>
                   <h2>YOU HAVE SUCCESSFULLY REQUESTED A PASSWORD RESET</h2>
                    <P>An email has been sent with instructions to reset your password </P>
                </div>

            </div>
        </div>

{% endblock %}