
{%  extends 'estate_base/base.html' %}

{% block content %}

{% load static %}

{% load custom_template_tags %}

        <div class="page-head">
            <div class="container">
                <div class="row">
                    <div class="page-head-content">
                        <h1 class="page-title">List Layout With Sidebar</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End page header -->

        <!-- property area -->
        <div class="properties-area recent-property" style="background-color: #FFF;">
            <div class="container">
                <div class="row  pr0 padding-top-40 properties-page">
                    <div class="col-md-12 padding-bottom-40 large-search">
                        <div class="search-form wow pulse" style="background-color: hsl(210, 36%, 96%);">
                            <form action="" class=" form-inline" style="background-color: hsl(210, 36%, 96%);">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <label>Property Name: </label>
                                        {{ filtered_property.form.property_name }}
                                    </div>
                                    <div class="col-md-4">
                                        <label>Property location: <small>(eg. area 25)</small></label>
                                        {{ filtered_property.form.location }}
<!--                                        <select id="lunchBegins" class="selectpicker" data-live-search="true" data-live-search-style="begins" title="Select your city">-->
<!--                                            <option>New york, CA</option>-->
<!--                                            <option>Paris</option>-->
<!--                                            <option>Casablanca</option>-->
<!--                                            <option>Tokyo</option>-->
<!--                                            <option>Marraekch</option>-->
<!--                                            <option>kyoto , shibua</option>-->
<!--                                        </select>-->
                                    </div>
                                    <div class="col-md-4">
                                        <label>Property city/district: </label>
                                        <br>
                                        {{ filtered_property.form.district }}
<!--                                        <select id="basic" class="selectpicker show-tick form-control">-->
<!--                                            <option> -Status- </option>-->
<!--                                            <option>Rent </option>-->
<!--                                            <option>Boy</option>-->
<!--                                            <option>used</option>-->

<!--                                        </select>-->
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <div class="search-row">

                                        <div class="col-sm-3">
                                            <label >Price range (MWK):</label>
                                            {{ filtered_property.form.price_lt }}
<!--                                            <input type="text" class="span2" value="" data-slider-min="0"-->
<!--                                                   data-slider-max="600" data-slider-step="5"-->
<!--                                                   data-slider-value="[0,450]" id="price-range" ><br />-->
<!--                                            <b class="pull-left color">2000$</b>-->
<!--                                            <b class="pull-right color">100000$</b>-->
                                        </div>
                                        <!-- End of  -->

                                        <div class="col-sm-3">
                                            <label >Property status :</label>
                                            <br>
                                            {{ filtered_property.form.status }}
<!--                                            <input type="text" class="span2" value="" data-slider-min="0"-->
<!--                                                   data-slider-max="600" data-slider-step="5"-->
<!--                                                   data-slider-value="[50,450]" id="property-geo" ><br />-->
<!--                                            <b class="pull-left color">40m</b>-->
<!--                                            <b class="pull-right color">12000m</b>-->
                                        </div>
                                        <!-- End of  -->

                                        <div class="col-sm-3">
                                            <label >Number of baths :</label>
                                            {{ filtered_property.form.number_of_bathrooms }}
<!--                                            <input type="text" class="span2" value="" data-slider-min="0"-->
<!--                                                   data-slider-max="600" data-slider-step="5"-->
<!--                                                   data-slider-value="[250,450]" id="min-baths" ><br />-->
<!--                                            <b class="pull-left color">1</b>-->
<!--                                            <b class="pull-right color">120</b>-->
                                        </div>
                                        <!-- End of  -->

                                        <div class="col-sm-3">
                                            <label >Number of bed :</label>
                                            {{ filtered_property.form.number_of_bedrooms }}

                                        </div>
                                        <!-- End of  -->

                                    </div>

                                    <div class="search-row">
                                        <input type="submit"  class='btn btn-finish btn-primary ' name='finish' value='search' />
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="col-md-12  clear">
                        <div class="col-xs-10 page-subheader sorting pl0">
<!--                            <ul class="sort-by-list">-->
<!--                                <li class="active">-->
<!--                                    <a href="javascript:void(0);" class="order_by_date" data-orderby="property_date" data-order="ASC">-->
<!--                                        Property Date <i class="fa fa-sort-amount-asc"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li class="">-->
<!--                                    <a href="javascript:void(0);" class="order_by_price" data-orderby="property_price" data-order="DESC">-->
<!--                                        Property Price <i class="fa fa-sort-numeric-desc"></i>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>&lt;!&ndash;/ .sort-by-list&ndash;&gt;-->

<!--                            <div class="items-per-page">-->
<!--                                <label for="items_per_page"><b>Property per page :</b></label>-->
<!--                                <div class="sel">-->
<!--                                    <select id="items_per_page" name="per_page">-->
<!--                                        <option value="3">3</option>-->
<!--                                        <option value="6">6</option>-->
<!--                                        <option value="9">9</option>-->
<!--                                        <option selected="selected" value="12">12</option>-->
<!--                                        <option value="15">15</option>-->
<!--                                        <option value="30">30</option>-->
<!--                                        <option value="45">45</option>-->
<!--                                        <option value="60">60</option>-->
<!--                                    </select>-->
<!--                                </div>&lt;!&ndash;/ .sel&ndash;&gt;-->
<!--                            </div>&lt;!&ndash;/ .items-per-page&ndash;&gt;-->
                        </div>

                        <div class="col-xs-2 layout-switcher">
                            <a class="layout-list" href="javascript:void(0);"> <i class="fa fa-th-list"></i>  </a>
                            <a class="layout-grid active" href="javascript:void(0);"> <i class="fa fa-th"></i> </a>
                        </div><!--/ .layout-switcher-->
                    </div>
                </div>
            </div>
        </div>
        {% for item in page %}
        <div class="content-area recent-property">

            <div class="container" >
                <div class="row">
                    <div class="pr0 padding-top-40 properties-page col-sm-6 col-md-3 p0">
                        <div class="col-md-12 clear ">
                            <div id="list-type" class="proerty-th row">
                                <div class=" proerty-th">
                                    <div class="box-two proerty-item">
                                        <div class="item-thumb">
                                            <a href="{% url 'property_single' item.id %}" ><img src="{{ item.house_images.url }}"></a>
                                        </div>

                                        <div class="item-entry overflow">
                                            <h5><a href="{% url 'property_single' item.id %}"> {{ item.property_name }} </a></h5>
                                            <div class="dot-hr"></div>
                                            <span class="pull-left"><b> Area :</b> {{ item.area }} </span>
                                            <span class="proerty-price pull-right"> {{ item.price }}</span>
                                            <p style="display: none;">{{ item.description }}</p>
                                            <div class="property-icon">
                                                <img src="{% static 'assets/img/icon/bed.png' %}">({{ item.number_of_bedrooms }})|-->
                                                <img src="{% static 'assets/img/icon/shawer.png' %}">({{ item.number_of_bathrooms }})|
                                                <img src="{% static 'assets/img/icon/cars.png' %}">({{ item.garages }})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container  ">
                <div class="row proerty-th">
                    <div class="col-md-12 clear ">
                        <div class="pull-right">
                            <div class="pagination">
                                <p>Page: {{ page.number }}/{{ page.paginator.num_pages }}</p>
                                <ul>
                                    {% if page.has_previous %}
                                        <li><a href="{% url 'estate_properties' %}?page=1">1</a></li>
                                        <li><a href="{% url 'estate_properties' %}?page={{ page.previous_page_number }}">Prev</a></li>
                                    {% endif %}

                                    {% for num_page in page.paginator.page_range %}
                                        {% if page.number == num_page %}
                                            <li ><a style="color: black; " class="page-item-active" href="{% url 'estate_properties' %}?page={{ num_page }}">{{ num_page }}</a></li>
                                        {% else %}
                                            <li><a class="page-item" href="{% url 'estate_properties' %}?page={{ num_page }}">{{ num_page }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page.has_next %}
                                        <li><a href="{% url 'estate_properties' %}?page={{ page.next_page_number }}">Next</a></li>
<!--                                        <li><a href="{% url 'estate_properties' %}?page={{ page.last_page_number }}">Last</a></li>-->
                                    {% endif %}
<!--                                    class based views pagination-->
<!--                                    {% if is_paginated %}-->
<!--                                        {% if page_obj.has_previous %}-->
<!--                                            <li><a href="?page=1">1</a></li>-->
<!--                                            <li><a href="?page = {{ page_obj.previous_page }}">Prev</a></li>-->
<!--                                        {% endif %}-->

<!--                                        {% for num in page_obj.paginator.page_range %}-->
<!--                                            {% if page_obj.number == num %}-->
<!--                                                <li><a href="?page={{ num }}">{{ num }}</a></li>-->
<!--                                            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}-->
<!--                                                <li><a href="?page={{ num }}">{{ num }}</a></li>-->
<!--                                            {% endif %}-->
<!--                                        {% endfor %}-->

<!--                                        {% if page_obj.has_previous %}-->
<!--                                            <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>-->
<!--                                            <li><a href="?page = {{ page_obj.paginator.num_pages }}">Last</a></li>-->
<!--                                        {% endif %}-->

<!--                                    {% endif %}-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}